/**
* VARS
*/

$primary-color: #333;
$text-color: #fff;

/**
* MODULES
*/

%container {
  width: 100%;
  height: 100vh;
  background-color: #0e0e0d;
  box-sizing: border-box;
  position: relative;
}

%ultrathin-font {
  font-weight: 100;
}

%thin-font {
  font-weight: 300;
  margin: 16px 0;
}

%bg-gradient {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

@mixin gradient() {
  background: rgb(48,232,191);
  background: -moz-linear-gradient(90deg, rgba(48,232,191,1) 0%, rgba(255,130,53,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(48,232,191,1) 0%, rgba(255,130,53,1) 100%);
  background: linear-gradient(90deg, rgba(48,232,191,1) 0%, rgba(255,130,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#30e8bf",endColorstr="#ff8235",GradientType=1);
}

body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: $text-color
}
